<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spinytech.musicdemo">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".MusicRouterConnectService"
            android:process=":music"/>
        <service android:name=".MusicService"
            android:process=":music"/>

    </application>

</manifest>
